---
- hosts: all
  become: yes
  become_user: root
  remote_user: ubuntu

  tasks:
    - name: install docker compose
      ansible.builtin.apt:
        name: docker-compose
        state: present
        update_cache: yes
    - name: install jre
      ansible.builtin.apt:
        name: openjdk-11-jdk
        state: present
        update_cache: yes
    - name: import Jenkins GPG key
      apt_key: 
        url: https://pkg.jenkins.io/debian-stable/jenkins.io.key
        state: present
    - name: add Jenkins repository to the system
      ansible.builtin.apt_repository:
        repo: 'deb http://pkg.jenkins.io/debian-stable binary/'
        state: present
    - name: install Jenkins
      apt:
        name: jenkins
        update_cache: yes
    - name: start Jenkins service
      service:
        name: jenkins
        state: started